.grid {
  margin: 20px 0 0;
}
.nodewrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px;
}

.node1 {
  background-color: green;
  padding: 8px;
  color: white;
  border-radius: 20px;
}
.node2 {
  background-color: rgb(12, 53, 71);
  padding: 8px;
  color: white;
  border-radius: 20px;
}
.node3 {
  background-color: red;
  padding: 8px;
  color: white;
  border-radius: 20px;
}
.para{
    padding-right:16px ;
    padding-left: 5px;
}
.btnwrapper {
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
}
.btn1 {
  all: unset;
  background-color: #2af190;
  color: black;
  padding: 5px;
  border-radius: 20px;
  cursor: pointer;
}
.btn1:hover {
  transform: scale(1.1);
  box-shadow: 5px 10px 40px rgba(0, 0, 0, 0.2);
  border: 1px solid;
}
